.container{
  background-color: ;
}
.um{
  text-align: right;
  
}


h1{
  text-align: center
};
header, footer{
  background-color: gray;
  padding: 20px;
  margin: 2px;
}

li{
  
  text-decoration: underline
}


